docker.enabled = true

params {
  outdir = 'results'
  input_dir = "${baseDir}/asssets/no_input_dir.txt"
  runfolder_dir = "${baseDir}/asssets/no_runfolder_dir.txt"
  intensities_dir = "${baseDir}/asssets/no_intensities_dir.txt"
  output_dir = false
  interop_dir = false
  stats_dir = false
  reports_dir = false
  sample_sheet = false
  loading_threads = false
  processing_threads = false
  writing_threads = false
  tiles = false
  minimum_trimmed_read_length = false
  use_bases_mask = false
  mask_short_adapter_reads = false
  adapter_stringency = false
  ignore_missing_bcls = false
  ignore_missing_filter = false
  ignore_missing_positions = false
  ignore_missing_controls = false
  write_fastq_reverse_complement = false
  with_failed_reads = false
}

/* process {
  withName: bcl2fastq {
    container = 'lifeibtiai/bcl2fastq'
  }
} */